@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

.makingPlaylistContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  

  .section {
    width: 45vw;
    margin: 0;
    background-color: #fbfbfb;
  }

  .tracklist {
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: fit-content;
    padding: 0;
    }

    .trackAndItsButtonContainer{
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border: 1.5px solid rgb(181, 203, 189);
      width: 35vw;
      height: 17vh;
    }

    .trackBtn {
      border: none;
      background-color: bisque;
      /* text-shadow: 2px 2px  rgb(200, 181, 181); */
      /* padding: 3vw; */
      font-size: 3vw;
      width: 8vw;
      z-index: 1;
      border-bottom-right-radius: 20px;
    }

    .trackBtn:hover {
      background-color: rgb(243, 186, 186);
      transition: all 300ms;
    }

    .trackBtn:active {
      background-color: rgb(255, 140, 159);
    }

    .btn {
      font-style: normal;
      font-size: 1em;
      font-weight: 200;
      transform: rotate(-0.00turn);
      font-family: 'Short Stack', cursive;
    }

    .trackBtn:active .btn{
      font-size: larger;
      transition: all 100ms;
      transform: rotate(180deg);
    }

    @media only screen and (min-width: 1400px) {
      
    }
