@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

h1{
  margin: 2%;
}

.makingPlaylistContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  .section {
    width: 45vw;
    margin: 0;
    background-color: #fbfbfb;
  }

  .tracklist {
    display: flex;
    justify-content: center;
    flex-flow: column;
    height: fit-content;
    margin: auto;
    }

    .trackAndItsButtonContainer{
      border-bottom-right-radius: 23px;
      border-top-left-radius: 20px;
      border: 3px solid rgb(232, 221, 250);
      width: 35vw;
      height: 6em;
    }

    .trackBtn {
      border: none;
      background-color: bisque;
      background-color: rgb(232, 221, 250);
      font-size: 2.5rem;
      width: 8vw;
      z-index: 1;
      border-bottom-right-radius: 20px;
      border: 3px outset rgb(204, 187, 233);
      min-width: 25px;
    }

    .trackBtn:hover {
      background-color: rgb(209, 194, 233);
      transition: all 300ms;
    }

    .trackBtn:active {
      background-color: rgb(168, 135, 220);
    }

    .btn {
      font-style: normal;
      font-size: 1em;
      font-weight: 200;
      transform: rotate(-0.00turn);
      font-family: 'Short Stack', cursive;
    }

    .trackBtn:active .btn{
      font-size: larger;
      transition: all 100ms;
      transform: rotate(180deg);
    }

    @media only screen and (min-width: 1400px) {
      
    }


    @media (max-width: 800px) {
      .makingPlaylistContainer {
        flex-flow: column-reverse;
        width: 100vw;
      }
      .section {
        width: 95vw;
        background-color: #fbfbfb;
        margin: 0;
      }
      .trackAndItsButtonContainer{
        width: 75vw;
      }
      .trackBtn {
        width: 17vw;
      }
    }