
.input {
    width: 50%;
    line-height: 3em;
    font-size: 1em;
    border: 1px solid white;
    background-color: rgb(232, 221, 250);
    border: 3px inset rgb(220, 198, 255);

}

.input:focus {
    outline: 2px solid #8dd28d;
}

/* .button {
    width: 200px;
    min-width: 200px;
} */