.trackContainer {
    /* display: flex; */
    /* flex-flow: row ; */
    /* justify-content: space-between; */
    background-color: rgb(200, 216, 206);
    background-color: #fff3e7;
    width: 100%;
    /* height: 17vh; */
    border-top-left-radius: 18px;
    z-index: 2;
    display: flex;
    overflow: hidden;
    flex-flow: row;
    min-width: 250px;
}

.trackInfo {
    display: flex;
    flex-flow: column;
    /* background-color: rgb(220, 240, 245); */
    align-self: center;
    justify-content: stretch;
    flex: 1;

}

.img {
    position: relative;
    width: 17vh;
    justify-self: flex-start; 
    border-top-left-radius: 18px;


}

h3, h4, h5, p {
    margin: 2px;
}

h3 {
    font-size: 1.75vw;
}

h4 {
    font-size: 1.5vw;
    color: grey
}

h5 {
    font-size: 1vw;
    color: rgb(59, 86, 86)
}

p {
    font-size: 1vw;

}

@media (max-width: 800px) {
    .trackContainer {
        width: 600px;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1em;
    }
    h5 {
        font-size: 1.5vw;
    }
    p {
        font-size: 1.3vw;
    }
  }