

.appTitle{
    /* text-shadow: 3px 3px 0px rgb(225, 105, 125); */
    color: rgb(0, 0, 0);
    font-size: calc(27px + 2vmin);
  }

h1{
  font-family: "HWT Arabesque W00 Regular";
  font-style: normal;
  font-weight: 400;
  margin: 1%;

}