.App {
  box-sizing: border-box;
  text-align: center;
}
header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.App-header {
  background-color: #62769d;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.makingPlaylist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

li {
  display: flex;
  flex-flow: row ;
  margin: 1em;
}

.trackBtn {
  border: none;
  background-color: bisque;
  padding: 3vw;
  font-size: 30px;
}


.addBtn{}

.rmvBtn{}