.App {
  box-sizing: border-box;
  text-align: center;
}
h1{
  font-family: Arial, Helvetica, sans-serif
}



.App-header {
  text-shadow: 1px 1px 0px rgb(182, 107, 119);
  color: rgb(52, 79, 57);
  background-color: #fed5ca;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.makingPlaylist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.searchResultsContainer{
  width: 50vw;
}
.playlistContainer{
  width: 50vw;
  /* display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center; */

}

.tracklist {
  margin: auto;
}

li {
  display: flex;
  justify-content: center;

  flex-flow: row ;
  margin: 1em;
}

.trackBtn {
  border: none;
  background-color: bisque;
  padding: 3vw;
  font-size: 30px;
}

