body {
  margin: 0;
  font-family: 'Fira Sans', Arial, sans-serif, 
                'Segoe UI', 'Roboto', 'Oxygen',
                'Ubuntu', 'Cantarell', 'Droid Sans', 
                'Helvetica Neue', sans-serif;
    overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}